@media only screen and (max-width: 1199.98px) {

    /* Team Section */
    .team-member .single-team-member {
        height: 290px;
    }

    .team-member .single-team-member .member-content {
        height: 100%;
        padding: 50% 20px 20px 20px;
    }

    .team-member .single-team-member .member-content ul {
        margin: 15px 0 0;
    }

    .team-member .single-team-member .member-content ul li a {
        font-size: 25px;
    }
}

@media only screen and (max-width: 991.98px) {

    /* ----- Navbar Section ----- */
    .navbar-toggler {
        color: #465361;
        font-size: 30px;
        position: absolute;
        right: 30px;
    }

    span.navbar-toggler-icon {
        height: 100%;
    }

    #sidebar.active {
        left: 0;
    }

    #sidebar {
        width: 280px;
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        z-index: 999;
        background: #00AEEF;
        background-image: -moz-linear-gradient(135deg, rgba(31, 93, 211, 1) 0%, rgba(49, 114, 213, 1) 50%, rgba(70, 137, 215, 1) 100%);
        background-image: -webkit-linear-gradient(135deg, rgba(31, 93, 211, 1) 0%, rgba(49, 114, 213, 1) 50%, rgba(70, 137, 215, 1) 100%);
        background-image: linear-gradient(135deg, rgba(31, 93, 211, 1) 0%, rgba(49, 114, 213, 1) 50%, rgba(70, 137, 215, 1) 100%);
        color: #ffffff;
        transition: all 0.3s;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        -ms-touch-action: auto;
        touch-action: auto;
        transition: all 0.5s ease;
    }

    #sidebar .navbar-nav {
        margin-top: 50px;
    }

    #sidebar .navbar-nav a.nav-link {
        display: inline-block;
        width: 100%;
        font-size: 20px;
        padding: 20px 40px;
        color: #ffffff;
        transition: all 0.3s ease;
    }

    #sidebar .navbar-nav a.nav-link:hover {
        color: #ffffff;
        background: #eaeef525;
    }

    #sidebar .navbar-nav a.nav-link i.sidebar-icon {
        display: inline-block;
    }

    #sidebar .navbar-nav a.nav-link i.sidebar-icon {
        font-size: 20px;
        padding-right: 20px;
        width: 20%;
        color: #ffffff;
        transition: all 0.3s ease;
    }

    #sidebar .navbar-nav a.nav-link:hover i.sidebar-icon {
        padding-right: 60px;
    }

    /* Navbar Contact Button */
    .contact-btn {
        margin-right: 100px;
    }

    /* ----- Hero Section ----- */
    .shapes {
        display: none;
    }

    /* ----- About Section ----- */
    .about-section .about-bg-shape img {
        width: 50%;
        margin-left: 50%;
    }

    /* ----- Service Section ----- */
    /* Next - Prev Button - OWL Carousel */
    .service-list .owl-nav {
        top: -45px;
    }

    /* Team Section */
    .team-member .single-team-member {
        height: 330px;
    }

    .team-member .single-team-member .member-content {
        height: 100%;
        padding: 55% 20px 20px 20px;
    }

    .team-member .single-team-member .member-content ul {
        margin: 20px 0 0;
    }

    /* ----- Footer Section ----- */
    .footer-content {
        grid-template-columns: 1.5fr 1fr;
        grid-row-gap: 7%;
    }
}

@media only screen and (max-width: 767.98px) {

    /* ----- About Section ----- */
    .about-section .about-bg-shape img {
        display: none;
    }

    /* ----- Project Section ----- */
    .project-bg-shape1 img, .project-bg-shape2 img {
        display: none;
    }

    /* ----- Team Section ----- */
    .team-member .single-team-member {
        height: 408px;
        width: 80%;
        margin: 0 auto 30px;
    }

    .team-member .single-team-member .member-content {
        height: 100%;
        padding: 64% 20px 20px 20px;
        opacity: 1;
    }

    /* ----- Footer Section ----- */
    .footer-content {
        background-image: none;
    }

}

@media only screen and (max-width: 575.98px) {

    a.stroke-text {
        font-size: 3rem;
    }

    /* ----- Navbar Section ----- */
    .contact-btn {
        display: none;
    }

    /* ----- Team Section ----- */
    .team-member .single-team-member {
        height: 316px;
    }

    .team-member .single-team-member .member-content {
        height: 100%;
        padding: 200px 20px 20px 20px;
        opacity: 1;
    }

}
